<div class="container">
  <h2 class="site-name text-muted">Project name</h2>

  <nav class="navbar navbar-expand-md navbar-light bg-light border mb-3">
    <a class="navbar-brand text-muted" href="/">
      <img src="images/html5_skeleton.png" alt="HTML5 Skeleton">
    </a>

    <button
      class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{ navActive2 }}">
          <a class="nav-link" href="/subpage">Projects</a>
        </li>
        <li class="nav-item {{ navActive3 }}">
          <a class="nav-link" href="/subpage">Services</a>
        </li>
        <li class="nav-item {{ navActive4 }}">
          <a class="nav-link" href="/subpage">Downloads</a>
        </li>
        <li class="nav-item {{ navActive5 }}">
          <a class="nav-link" href="/subpage">About</a>
        </li>
        <li class="nav-item {{ navActive6 }}">
          <a class="nav-link" href="/subpage">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
